@import url(https://fonts.googleapis.com/css?family=Open+Sans);


@font-face {
    font-family: Vazir;
    src: url('vazir/Vazir.eot');
    src: url('vazir/Vazir.eot?#iefix') format('embedded-opentype'),
         url('vazir/Vazir.woff2') format('woff2'),
         url('vazir/Vazir.woff') format('woff'),
         url('vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('vazir/Vazir-Bold.eot');
    src: url('vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('vazir/Vazir-Bold.woff2') format('woff2'),
         url('vazir/Vazir-Bold.woff') format('woff'),
         url('vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('vazir/Vazir-Black.eot');
    src: url('vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('vazir/Vazir-Black.woff2') format('woff2'),
         url('vazir/Vazir-Black.woff') format('woff'),
         url('vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('vazir/Vazir-Medium.eot');
    src: url('vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('vazir/Vazir-Medium.woff2') format('woff2'),
         url('vazir/Vazir-Medium.woff') format('woff'),
         url('vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('vazir/Vazir-Light.eot');
    src: url('vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('vazir/Vazir-Light.woff2') format('woff2'),
         url('vazir/Vazir-Light.woff') format('woff'),
         url('vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('vazir/Vazir-Thin.eot');
    src: url('vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('vazir/Vazir-Thin.woff2') format('woff2'),
         url('vazir/Vazir-Thin.woff') format('woff'),
         url('vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  direction: ltr;
}
.comment{
  position: absolute;
  width: 90%;
  margin: inherit;
  padding-right: 2%;
  padding-top: 3%;
  text-decoration: #8bc34a;
  height: 100%;

}
.commentbox{
  position: relative;
  width: 100%;
  height: 30%;
}
.sea{
  width: 100%;
  position: relative;
  direction: ltr;
  padding-top: 10%;

}
.pyno{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.list-group{
  top: 120px;
  position: relative;
  overflow: auto;
  direction: ltr;
}


.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background: #f2f2f2;
    border: 1px solid rgba(0,0,0,.125);
}
.searchContent{
  padding-bottom: 15px;
  left: 90%;
}
.nameContent{
  position: relative;
  width: 90%;
  font-family: Vazir;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 24px;
  color: #000;
  padding-top: 5%;
  padding-right: 3%;
  padding-left: 30%;
}
.attrsContent{
  width: 90%;
  position: relative;
  font-family: Vazir;
  font-weight: 400;
  font-size: 1.143rem;
  line-height: 24px;
  color: #000;
  padding-right: 50%;
  margin-top: -25%;
}

.priceContent{
    position: relative;
    width: 90%;
    font-family: Vazir;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 24px;
    color: #f00;
    padding-right: 65%;
    padding-bottom: 10%;
    padding-top: 5%;
}


.button {
  width: 98%;
  height: 10%;
  position: absolute;
  left: 0%;
  bottom: 45%;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
	
}
::placeholder {
  color: #949494;
  font-size: 1.5em;
  font-family: vazir;
  font-size: 16px;
  padding: 15px;
  text-align: center;
}

.inputarea{
  width: 100%;
  position: relative;
  padding-right: 13%;

}
.truecomment{
    margin-top: 40px;
}

.comment_title{
  text-align: center;
}
p.comment_title{
  text-align: center;
}
.imageContent{
  position: relative;
  padding-right: 3%;
  padding-top: 3%;
}

html , body {direction: rtl; width: 100%; height: 100%; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; font-size: 14px; background-color: #eeeeee; color: #949494; }
* { box-sizing: border-box; }
h1 {direction: ltr;font-size: 2.5em; font-weight: 400; }
article { padding: 4em 3em; overflow: hidden; }
p.arrows { text-align: right; margin: 0 0 1em 0; transition: all 0.5s ease; }
p.arrows .btn { margin: 0.2em; }
body.small p.arrows { margin-right: -0.8em; }
body.large p.arrows { margin-right: 0.5em; }
body.xl p.arrows { margin-right: 3.1em; margin-top: 2.4em; }
label { display: block; line-height: 2em; }
label input { width: 1.3em; height: 1.3em; margin: 0 0.5em 0 0; vertical-align: middle; }
fieldset { border: 0; margin: 0 0 2em 0; padding: 1em; background-color: #f7f7f7; box-shadow: 0 0 5px rgba(0,0,0,0.2); overflow: hidden; border-radius: 0.3em; }
fieldset > h3 { text-align: center;font-weight: 500; font-size: 1.2em; background-color: #FFF; margin: -0.824em -0.824em 0.824em -0.824em; padding: 1em; box-shadow: 0 0 3px rgba(0,0,0,0.1); border-radius: 0.3em 0.3em 0 0; }
.row { margin: 0 -1em; }
.col50 { float:right; width: 100%; padding: 0 1em; }
@media screen and (max-width : 600px) {
  .col50 { float: none; width: auto; }
}
header { background-color: #3f51b5; padding: 3em 2em 2em 3em; color: #FFF; box-shadow: 0 0 10px rgba(0,0,0,0.4); position: relative; }
header > h1 { margin: 0; }
header > .btn { position: absolute; bottom: -2em; right: 3em; font-size: 1.5em; box-shadow: 0 0 10px rgba(0,0,0,0.2); }
body.small header > .btn { font-size: 1.2em; right: 3.7em; }
body.large header > .btn { font-size: 1.8em; right: 2.5em; }
body.xl header > .btn { font-size: 3em; right: 1.5em;  }
.btn { display: inline-block; width: 4em; height: 4em; background-color: #FFF; color: #9e9e9e; box-shadow: 0 0 5px rgba(0,0,0,0.2); border-radius: 2em; overflow: hidden; transform: translateZ(0); transition: all 0.5s ease; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.btn:hover { box-shadow: 0 0 10px rgba(0,0,0,0.4); }
.btn:active { transform: scale(1.1,1.1); }
.btn:focus { outline: 0; border:none; color: rgba(0, 0, 0, 0); }
.btn > span { display: block; position: relative; width: 2em; height: 2em; transition: transform 0.5s ease; overflow: hidden; margin: 1em; }
.btn > span > span { display: block; background-color: #9e9e9e; position: absolute; top: 0; left: 0; width: 2em; height: 2em; transition: all 0.5s ease; border: 1px solid transparent; }
header .btn > span > span { background-color: #e91e63; }
.btn.play > span { transform: translate(1em,0) scale(1.6,1); }
.btn.play > span > span { transform: rotate(-45deg) translate(-1em, -1em) scale(1,1); }
.btn.pause > span > span { transform: scale(0.4,1) translate(-1.6em, 0); }
.btn.pause > span > span.s3 { transform: scale(0.4,1) translate(1.6em, 0); }
.btn.stop > span { transform: scale(0.8,0.8); }
.btn.menu > span > span { transform: scale(1,0.2) translate(0,-3em); }
.btn.menu > span > span.s2 { transform: scale(1,0.2) translate(0,0); }
.btn.menu > span > span.s3 { transform: scale(1,0.2) translate(0,3em); }
.btn.close > span  { transform: rotate(45deg); }
.btn.close > span > span , .btn.plus > span > span { transform: scale(1,0.2); }
.btn.close > span > span.s3 , .btn.plus > span > span.s3 { transform: scale(0.2,1); }
.btn.minus > span > span { transform: scale(1,0.2); }
.btn.more > span > span { transform: scale(0.2,0.2) translate(-3em,0); border-radius: 2em; }
.btn.more > span > span.s2 { transform: scale(0.2,0.2) translate(0,0); }
.btn.more > span > span.s3 { transform: scale(0.2,0.2) translate(3em,0); }
.btn.topArrow > span > span { width: 0.4em; height: 1.8em; transform: translate(0.8em,0.2em); }
.btn.topArrow > span > span.s2 { transform-origin: 0 0; height: 1.4em; transform: translate(1em,0) rotate(45deg); }
.btn.topArrow > span > span.s3 { transform-origin: 100% 0; height: 1.4em; transform: translate(0.6em,0) rotate(-45deg); }
.btn.bottomArrow > span > span { width: 0.4em; height: 1.8em; transform: translate(0.8em,0); }
.btn.bottomArrow > span > span.s2 { transform-origin: 100% 100%; height: 1.4em; transform: translate(0.6em,0.6em) rotate(45deg); }
.btn.bottomArrow > span > span.s3 { transform-origin: 0 100%; height: 1.4em; transform: translate(1em,0.6em) rotate(-45deg); }
.btn.rightArrow > span > span { width: 1.8em; height: 0.4em; transform: translate(0,0.8em); }
.btn.rightArrow > span > span.s2 { transform-origin: 100% 0; width: 1.4em; transform: translate(0.6em,1em) rotate(45deg); }
.btn.rightArrow > span > span.s3 { transform-origin: 100% 100%; width: 1.4em; transform: translate(0.6em,0.6em) rotate(-45deg); }
.btn.leftArrow > span > span { width: 1.8em; height: 0.4em; transform: translate(0.2em,0.8em); }
.btn.leftArrow > span > span.s2 { transform-origin: 0 100%; width: 1.4em; transform: translate(0,0.6em) rotate(45deg); }
.btn.leftArrow > span > span.s3 { transform-origin: 0 0; width: 1.4em; transform: translate(0,1em) rotate(-45deg); }
.btn.checked > span > span { width: 1em; height: 0.4em; transform-origin: 100% 100%; transform: translate(-0.3em,1.4em) rotate(45deg); }
.btn.checked > span > span.s3 { width: 1.8em; transform-origin: 0 100%; transform: translate(0.7em,1.4em) rotate(-45deg); }
.btn.heart > span > span { width: 1em; height: 1.7em; top: 0.2em; left: 1em; transform-origin: 0 100%; transform: rotate(-45deg); border-radius: 1em 1em 0 0; }
.btn.heart > span > span.s3 { transform-origin: 100% 100%; left: 0em; transform: rotate(45deg); }
header.grey .btn span span { background-color: #9e9e9e; }
header.indigo .btn span span { background-color: #3f51b5; }
header.cyan .btn span span { background-color: #00bcd4; }
header.lightGreen .btn span span { background-color: #8bc34a; }
header.amber .btn span span { background-color: #ffc107; }
.drop { display: block; position: absolute; background: #CCC; border-radius: 100%; transform: scale(0); pointer-events: none; width: 100%; height: 100%; }
.drop:before { display: block; position: absolute; content: ""; background-color: #EEE; border-radius: 100%; width: 100%; height: 100%; top: 0; left: 0; transform: scale(0); }
.drop.animate { animation: drop 1s ease-out; }
.drop.animate:before { animation: drop2 1s ease-out; }
@keyframes drop {
  100% { opacity: 0; transform: scale(2.5); }
}
@keyframes drop2 {
  30% { opacity: 1; transform: scale(0); }
  100% { opacity: 0; transform: scale(2.5); }
}



HTML CSS 

Result
Skip Results Iframe

body {
margin: 0;
font-family: Helvetica, sans-serif;
background-color: #f4f4f4;
}

a {
color: #000;
}

/* header */

.header {
background-color: #fff;
box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
position: fixed;
width: 100%;
z-index: 3;
padding: 15px;
}

.header ul {
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
background-color: #fff;
}

.header li a {
display: block;
padding: 20px 20px;
border-right: 1px solid #f4f4f4;
text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
background-color: #f4f4f4;
}

.header .logo {
display: block;
float: left;
font-size: 2em;
padding: 10px 20px;
text-decoration: none;
}

/* menu */

.header .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
cursor: pointer;
display: inline-block;
float: right;
padding: 28px 20px;
position: relative;
user-select: none;
}

.header .menu-icon .navicon {
background: #333;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
background: #333;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.header .menu-icon .navicon:before {
top: 5px;
}

.header .menu-icon .navicon:after {
top: -5px;
}

/* menu btn */

.header .menu-btn {
display: none;
}

.header .menu-btn:checked ~ .menu {
max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
.header li {
float: left;
}
.header li a {
padding: 20px 30px;
}
.header .menu {
clear: none;
float: right;
max-height: none;
}
.header .menu-icon {
display: none;
}
}

.konteynir {
	padding-top: 180px;
	text-align: center;	
	margin: 0 auto;
	max-width: 500px;
}

.konteynir h3 {
	margin-bottom: 50px;	
}

.sosyal-aglar {
	font-size: 40px;
}

.sosyal-aglar a {
	color: #666;
	text-decoration: none;
}

.sosyal-aglar a:hover {
	color: #111;
	text-shadow: 0px 0px 3px #111;
} 

.tanitim {
	font-family: 'arial';
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}