<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>search</title>
    <link rel="stylesheet" href="{{ static_url("url.css") }}" type="text/css">
  </head>

  <body>
    <div class="sea" >
      <div>
        <p>please search your digikala  url for trucomment ! or  search any word !</p>
      </div>
        <form class="search" action="/"  method="post"  >
          <input type="text" name="url" class="searchTerm" placeholder="What are you looking for?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>
        </form>
    </div>
    <div>
        <div class="col50">
        <fieldset>
             <div class="headerSearch">
             </div>
             <div class="searchContent">
              {% module Template("message.html", message=message) %}
             </div>
        </fieldset>
        <fieldset>
            <h3>Comment</h3>
            <li>
            {% module linkify(message['hi']) %}
          </li>
        </fieldset>
        </div>
        <div class="col50">
          <fieldset>
            <form class="comment"  action="/comment" method="POST">
              <textarea class="commentbox" name="commentbox" required placeholder=" نظر خود را بنویسید"></textarea>
              <input type="email" name="email" class="inputarea"  required placeholder="enter your email">
              <button  type="submit" class="button" ><span>ثبت نظر</span></button>
            </form>
          </fieldset>
          
          
        </div>
    </div>
  </body>

</html>
