<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>search</title>
    <link rel="stylesheet" href="{{ static_url("url.css") }}" type="text/css">
  </head>
<header>
  <h1>True comment!</h1>
</header>
  <body>
    <div>
        <div class="col50">
        <fieldset>
             <div class="headerSearch">
             </div>
             <div class="searchContent">
              {% module Template("message.html", message=message) %}
             </div>
        </fieldset>
        <fieldset>
            <h3>Comment</h3>
            <li>
            {% module linkify(message['hi']) %}
          </li>
        </fieldset>
        </div>
        <div>
          <fieldset>
            <form method="POST">
              <textarea name="comment" placeholder="متن نظر خود را بنویسید"></textarea>
              <input type="text" name="url" class="searchTerm" placeholder="enter your email">
              <button type="submit" >ثبت نظر</button>
            </form>
          </fieldset>
          
          
        </div>
   </div>
  </body>

</html>
